<div>
    {{#if user}}
    <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>
    {{!-- display a shopping cart link --}}
    <a class="btn" href="/user/profile/{{user._id}}">{{user.firstName}}'s Profile</a> <a class="btn" href="/user/logout">Logout </a>
    {{/if}}
    <br><br>
</div>


<!-- Top Container -->
<section class="topContainer">
    <!-- Header -->
    <!-- Promotional Section -->
    <header class="showcase">
        <h1>Great deals!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
            ipsam! Nihil quo minima nulla atque!</p>
        <a href="#" class="btn">Deals Store</a>
    </header>


    <div class="top-box top-box-a"> 
        <h4>Membership</h4>
        <p class="price">$10/mo</p>
        <a href="#" class="btn">Buy Now</a>
    </div>
    <div class="top-box top-box-b">
        <h4>Pro Membership</h4>
        <p class="price">$20/mo</p>
        <a href="#" class="btn">Buy Now</a>
    </div>
</section>
<br>

<!-- Boxes Section -->
<!-- Product Category Section -->
<section class="boxes">


    {{!-- ONLY DISPLAY 5 PRODUCTS --}}
    
    {{#each products}}
        <div class="box">
        <h3>{{this.productCategory}}</h3>
        <img src="uploads/{{this.productPic}}" alt="">
        <a href="/products" class=btn>Explore now</a>
        </div>
    {{/each}}

</section>

<!-- Best Seller Section -->
<h3>Best Sellers</h3>
<section class="bestSeller">
    {{!-- ONLY DISPLAY 5 PRODUCTS --}}
    {{#each products}}
        {{#if this.bestSeller}}
            <div class="box">
                <img src="uploads/{{this.productPic}}" alt="">
            </div>
        {{/if}}
    {{/each}}    
    <a href="/products">Shop now</a>
</section>
