<h1>{{user.firstName}}'s Shopping Cart</h1>



 {{!-- <section class="products-section">
        {{#each products}}
        <div class="productBox">
            <a class="aProductBox" style="display:block" href="/products/productdesc/{{this._id}}">
                <h1>{{this.productCategory}}</h1> 
                <img src="/uploads/{{this.productPic}}" alt="">
                <h1>{{this.productName}}</h1>
                <p>{{this.productDesc}}</p>
                <p>${{this.productPrice}}</p>
                <p>Quantity: {{this.productQuantity}}</p> 
                {{#if this.bestSeller}} 
                    <p>Best Seller</p>
                {{/if}}

                <a href="/products/edit/{{this._id}}" class="edit-delete-button">Edit</a>
                <a href="/products/delete/{{this._id}}?method=DELETE" class="edit-delete-button">Delete</a>
            </a>
        </div>
        {{/each}}
    </section> --}}