<h1>{{user.firstName}}'s Shopping Cart</h1>

<section class="products-section">
    {{#if products}}
    {{#each products}}
    <div class="productBox">

        <h1>{{products.productCategory}}</h1>
        <img src="/uploads/{{products.productPic}}" alt="">
        <h1>{{products.productName}}</h1>
        <p>{{products.productDesc}}</p>
        <p>${{products.productPrice}}</p>
        <p>Quantity: {{qty}}</p>
        {{#if products.bestSeller}}
        <p>Best Seller</p>
        {{/if}}

        <a href="/remove/{{products._id}}" class="btn">Remove</a>

    </div>
    {{/each}}
    {{else}}
        <h1>No Items in Cart</h1>
    {{/if}}
</section>

<div>
    <h1>Order Total: CDN$ {{totalPrice}}.00</h1>
    <a href="/checkout/{{user._id}}" class="btn">Place your order</a>
    <a href="/products" class="btn">Go back</a>

</div>