{{!-- PRODUCT DESCRIPTION PAGE --}}

<section class="products-section">

    <div class="productBox">
        <h1>{{this.productCategory}}</h1>
        <img src="/uploads/{{this.productPic}}" alt="">
    </div>

    <div>
        <h1>{{this.productName}}</h1>
        <p>{{this.productDesc}}</p>
        <h1>${{this.productPrice}}</h1>
        <h4>Quantity: {{this.productQuantity}}</h4>
        {{#if this.bestSeller}}
        <h4>Best Seller</h4>
        {{/if}}
        
        <br>

        <div>

            {{#if user}}
                {{#if user.inventoryClerk}}
                {{else}}
                    <a href="/addToCart/{{this._id}}" class="btn">Add to Cart</a>
                {{/if}}
            {{else}}
            <a href="../../user/login" class="btn">Add to Cart</a>
            <br><br>
            {{/if}}
            <a href="/products" class="btn">Go back</a>

        </div>
    </div>


</section>