 <h2>Update Product</h2>
    <form method="POST" action="/products/update/{{_id}}?method=PUT" enctype="multipart/form-data">

        <label>Product Category</label>
        <select name="productCategory" id="productCategory">
            <option value="Household Supplies">Household Supplies</option>
            <option value="Electronics">Electronics</option>
            <option value="Tools">Tools</option>
        </select>
        <br><br>

        <label>Product Name</label>
        <input type="text" name="productName" id="productName" value="{{productName}}"> <br><br>

        <label>Product Price $</label>
        <input type="text" name="productPrice" id="productPrice" value="{{productPrice}}"> <br><br>

        <label>Product Description</label>
        <textarea id="productDesc" name="productDesc" value="{{productDesc}}"></textarea><br><br>

        <label>Product Quantity</label>
        <input type="number" value="1" id="productQuantity" name="productQuantity" value="{{productQuantity}}"><br><br>
        
        <label>Best Seller</label>
        <input type="checkbox" id="bestSeller" name="bestSeller" value="true"><br><br>

        <label>Upload Photo</label>
        <input type="file" name="productPic" id="productPic"><br><br>
       
        <input type="submit" value="Update Product">
    </form>